body{
    margin:0;
}
div {
    width: 200px;
    height: 200px;
    background-color: #8ab6d6;
}
h1 {
    background-color: #fbe0c4;
    width: 300px;
    padding-left:40px;
    padding-top: 50px;
    margin:0;

}
#one {
    background-color: #8ab6d6;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin: 20px;
}

 #two{
    background-color: #2978b5;
    border-color: cyan;
    border-width: 3px;
    border-style: dashed;
    border-left-width: thick;
    padding-right: 50px;
    margin-left: 30px;
 }
 #three{
    background-color: #0061a8;
    border: 4px solid black;
    border-left-style: dotted;
    border-radius: 10%;
    margin-top: 40px;
 }

 button {
     padding: 4px 6px 8px 10px;
 }