h1 {
   text-align: center;
   font-weight: 400; 
   text-decoration: blue underline wavy;
   letter-spacing: 10px;
   font-size: 70px;
   /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Geneva, Tahoma, sans-serif; */
   font-family: monospace;
}
a{
    text-decoration:none;
}
p{
    line-height: 2;
}
