#ems section{
    background-color: chartreuse;
    width: 600px;
    height: 600px;
}
#ems div{
    background-color: #542e71;
    width: 50%;
    height: 50%;
}
#ems h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}
#ems article{
    font-size : 15px;

}
#ems h2{
    font-size: 4em;
    margin-left: 1em;
}
#ems p{
    font-size: 0.8em;
}
#ems button{
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: aquamarine;
}
#ems ul{
    font-size: 1.5em;
}


#rems h2{
    font-size: 3rem;
}
#rems ul{
    font-size: 1.3rem;
}
#rems button{
    font-size: 1.6rem;
}