
span{
    background-color: cyan;
    border:1px black solid;
    padding: 20px;
    margin: 30px;
}
div{
    height: 200px;
    width: 200px;
    background-color: darkgoldenrod;
    border: 5px black solid;
    display: inline-block;
    margin: 50px;
}
h1{
    background-color: aqua;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 100px;
    display: none;

}